.heading {
  padding-top: 5%;
  padding-left: 1% !important;
  padding-right: 1% !important;
}
.jumbo {
  background-color: #eeeeee;
}

h1 {
  font-size: 60px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .heading {
    padding: 4% !important;
  }
}

